@import 'colors';

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}


.spinner {
    border: 2px solid rgba(233, 233, 233, 0.3);
    border-top-color: $text-secondary;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
  }

  @keyframes spin {
  to {
    transform: rotate(360deg);
  }
}