@import "colors";

* {
  transition: 0.25s ease-in-out;
}

#drawer {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: #ffffff;
  overflow-y: auto;
  z-index: 9999;
}

/* Drawer aberto */
#drawer.open {
  left: 0;
}

.header {
  display: flex;
  flex-direction: column;

  .bt-close {
    position: absolute;
    top: 14px;
    right: 14px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
  }

  .bt-close mat-icon {
    font-size: 28px;
    color: #ffffff;
  }

  .title {
    background: $color-primary;
    color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    font-size: 20px;
    font-weight: 400;
  }
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  
}
