$color-primary: #1D2B3A;  
$color-secondary: #C61D35; 

$background-light: #FFFFFF;

$text-primary: #111;  
$text-secondary: #555;
$text-white: #fff;


$success: #198754;
$warning: #ffc107;
$danger: #dc3545; 
$info: #0dcaf0;
$link: #0d95f0;