@import "colors";

:host {
  max-width: 100vw;
}

.header {
  background: $color-primary;
  color: #ffffff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  font-size: 20px;
  font-weight: 400;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  min-width: 320px;
  margin: 0 auto;
  margin-bottom: -10px;
  margin-top: -30px;
  padding-right: 10px;
}

.container-new-reservation {
  padding: 30px;

  h3 {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    padding: 14px 0;
  }

  h4 {
    display: inline-block;
    font-weight: 200;
    font-size: 16px;
    padding: 14px 0;
  }
}

#selectTimeRange {
  display: flex;
  flex-direction: column;
  padding: 30px 0 60px 0;
  gap: 12px;

  .field-range {
    width: 100%;
    max-width: 420px;
  }
}

.bt-reservar {
  max-width: 320px;
  padding-bottom: 80px;
  text-align: center;
  margin: -30px auto 0 auto;
}

.box-last-reservation {
  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
    padding: 30px 0;
  }
}
