@import "colors";

.tools-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a,
  span {
    padding: 20px;
  }
}

.filter-container {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  width: 99%;
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 30px;
}

header {
  background-color: #dbdbdb44;
  display: flex;
  align-items: center;
  padding: 0 12px;
  line-height: 50px;
}

h3 {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 600;
  color: $color-primary;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: -8px;
}

/* CHECKBOX */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px 18px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 6px;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid #c2c2c2;
  border-radius: 4px;
  background: #fff;
  transition: 0.25s;
}

input[type="checkbox"]:checked {
  background: $color-secondary !important;
  border-color: $color-secondary !important;
  box-shadow: inset 0 0 0 3px white;
}

/* CHECK BRANCO */
input[type="checkbox"]:checked::after {
  border: solid transparent;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.button-group button {
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid #bcbcbc;
  background: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.25s;
}

.button-group button.active {
  background: $color-secondary;
  color: #fff;
  border-color: $color-secondary;
}

.button-group.small button {
  width: 45px;
  padding: 6px 0;
  text-align: center;
}

.accordion header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-bottom: 8px;
}

/* ---- ARROW ---- */
.accordion .arrow {
  width: 9px;
  height: 9px;
  border-left: 2px solid #c61d35;
  border-top: 2px solid #c61d35;
  rotate: 45deg;
  transition: 0.25s;
  margin-bottom: -4px;
}

.accordion .arrow.open {
  rotate: -45deg;
}

.content {
  animation: fade 0.25s ease;
  padding: 12px 18px;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.box-bt-filtrar {
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 18px 5px #8d8d8d44;
  height: 80px;

  * {
    min-width: 320px;
    max-width: 420px;
  }
}
