@import "colors";

.card {
  width: 240px;
  max-width: 240px;
  gap: 17px;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px 0px #5454541a, 0px 10px 10px 0px #54545417,
    0px 22px 13px 0px #5454540d, 0px 39px 16px 0px #54545403,
    0px 61px 17px 0px #54545400;

  color: $color-primary;

  .img {
    width: 100%;
    height: 120px;
    overflow: hidden;
  }

  .img-vehicle {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }

  .info {
    display: flex;
    flex-direction: column;
    h4 {
      font-size: 18px;
      font-weight: 700;
    }
    h5 {
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.card-button:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0 0 5px 0.5px rgba(1, 44, 104, 0.432);
}
