@import 'colors';

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background: #fff;
  box-shadow: 0px 0px 18px 5px #8d8d8d44;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.tabs-container {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tab-item {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: #6d6d6d;
  font-size: 13px;
  width: 100%;
  transition: .2s ease-in-out;
}

.tab-item:hover {
  background: transparent;
}

.tab-item.active {
  color: $color-secondary;
}

.tab-item.active .icon {
  color: $color-secondary;
}

.icon {
  font-size: 22px;
  transition: .2s;
}
